<div class="row">
    <div class="col">
        <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
            <div class="timeline-step">
                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                    <div class="inner-circle"></div>
                    <p class="h6">1</p>
                    <p class="h6 text-muted">Ngày giờ</p>
                </div>
            </div>
            <div class="timeline-step">
                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2004">
                    <div class="inner-circle"></div>
                    <p class="h6">2</p>
                    <p class="h6 text-muted">Xe máy</p>
                </div>
            </div>
            <div class="timeline-step">
                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2005">
                    <div class="inner-circle"></div>
                    <p class="h6">3</p>
                    <p class="h6 text-muted">Phụ kiện</p>
                </div>
            </div>
            <div class="timeline-step">
                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2010">
                    <div class="inner-circle"></div>
                    <p class="h6">4</p>
                    <p class="h6 text-muted">Khách hàng</p>
                </div>
            </div>
            <div class="timeline-step mb-0">
                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
                    <div class="inner-circle"></div>
                    <p class="h6">5</p>
                    <p class="h6 text-muted">Xác nhận</p>
                </div>
            </div>
            <div class="timeline-step mb-0">
                <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
                    <div class="inner-circle"></div>
                    <p class="h6">6</p>
                    <p class="h6 text-muted">Thanh toán</p>
                </div>
            </div>
        </div>
    </div>
</div>