<section class="s-location">
    <div class="container">
        <h2 class="s-title">
            <span>THUÊ XE MÁY TẠI</span>
        </h2>
        <div class="row">
            {% for dia_diem in dia_diems %}
                {% if forloop.counter <= 4 %}
                    <div class="col-sm-6 col-6 col-md-3 location-item">
                        <div class="inner">
                            <div class="thumb">
                                <img>                  
                                <h3 class="heading-text">{{ dia_diem.ten }}</h3>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>